<!--<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
     ------------------box-shadow navbar-light bg-white border-bottom------------------
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">NxtWork</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Vakances</a> ------------------text-dark------------------
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>-->
<!-- angular material headers -->
<!--<div>
  <mat-toolbar color="primary">
    <div mat-card-avatar class="header-image"></div>
    <span class="fg-nxt">NxtWork</span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">-->
<!---->
<!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon class="fg-nxt">favorite</mat-icon>
</button>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon class="fg-nxt">share</mat-icon>
</button>-->
<!---->
<!--</div>
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
      <mat-icon class="fg-nxt">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <button (click)="sidenav.toggle()" href="#" mat-button>Aizvērt</button>-->
<!---->
<!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon class="fg-nxt">favorite</mat-icon>
</button>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon class="fg-nxt">share</mat-icon>
</button>-->
<!---->
<!--</div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
  </mat-sidenav-container>
</div>-->

<mat-toolbar color="primary" class="fg-nxt">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div>
      <button mat-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        <span class="icon-text">NxtWork</span> <!--*ngIf="!deviceXs"-->
      </button>
    </div>
    <div *ngIf="!deviceXs" fxLayout="row">
      <button mat-button [routerLink]="['/']">Vakances</button>
      <button mat-button [routerLink]="['/fy']">Tieši Tev</button>
      <button mat-button [routerLink]="['/about']">Par NxtWork</button>
    </div>
    <div>
      <button class="profile-btn" mat-stroked-button [routerLink]="['/testnav']"> <!--account-->
        <span class="icon-text" [routerLink]="['/test-nav']" *ngIf="!deviceXs">Profils</span> <!--profile-->
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <!--<mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-around end">
    <div *ngIf="deviceXs">
      <button mat-button [routerLink]="['/']">Vakances</button>
      <button mat-button [routerLink]="['/fy']">Tieši Tev</button>
      <button mat-button [routerLink]="['/about']">Par NxtWork</button>
    </div>
  </mat-toolbar-row>-->
</mat-toolbar>
<nav *ngIf="deviceXs" mat-tab-nav-bar color="accent">
  <a class="mat-tab" mat-tab-link [routerLink]="['/']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Vakances</a>
  <a class="mat-tab" mat-tab-link [routerLink]="['/fetch-data']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Tieši Tev</a>
  <a class="mat-tab" mat-tab-link [routerLink]="['/counter']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Par Mums</a>
</nav>
