<div class="container">
  <img [src]="vacancy?.thumbnail_image" alt="Job_img" class="detail-img" />
  <div class="row">
    <div class="col-md-11">
      <h1>{{ vacancy?.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Atalgojums: </strong>{{ vacancy?.salary }}</div>
      <div><strong>Apraksts: </strong>{{ vacancy?.description }}</div>
      <hr />
      <div><strong>Uzņēmums: </strong><a href="#">{{ vacancy?.company?.name }}</a></div>
      <hr />
      <div>
        <strong>Prasības: </strong>
        <ul *ngFor="let requirement of vacancy?.requirements" class="list-group">
          <li class="list-group-item">
            <strong>{{ requirement?.key }}: </strong>{{requirement?.value}}
          </li>
        </ul>
      </div>
      <hr />
      <div>
        <strong>Kontakti: </strong>
        <ul class="list-group">
          <li class="list-group-item"><strong>Tālrunis: </strong>{{ vacancy?.contacts?.phone }}</li>
          <li class="list-group-item"><strong>E-pasts: </strong>{{ vacancy?.contacts?.email }}</li>
          <li class="list-group-item"><strong>Tālrunis: </strong>{{ vacancy?.contacts?.phone }}</li>
          <li class="list-group-item"><strong>Adrese: </strong>{{ vacancy?.contacts?.address }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
