.text-truncate-container {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  
}
