/* bootstrap styles */

.text-truncate-container {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom-left {
  position: absolute;
  background-color: black;
}

.nxt-button {
  background-color: #ff5722;
  color: white;
  width: 100%;
}

.vac-text {
  color: #ff5722;
}

.nxt-border {
  border-color: #ff5722;
  /*border-bottom-color: #ff5722;*/
}

.nxt-border:hover {
  cursor: pointer;
}

/* material styles */

.content {
  padding: 16px;
}

mat-card img {
  object-fit: cover;
  height: 200px;
}

.card-clickable:hover {
  cursor: pointer;
  color: #ff5722;
}

.header-image {
  background-image: url('https://lh3.googleusercontent.com/ogw/ADea4I7C6xGNmJr9ey6Ay1yqQQhFKkmjqF6TaBMIi7vp=s32-c-mo');
  background-size: cover;
  background-color: white;
}

.header-image:hover {
  cursor: pointer;
}

/*.company-info {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.mbtn {
  color: white;
}
